p {
  color: rgb(46, 45, 44)
}

blockquote {
  color:rgb(63, 60, 59)
}

/* CSS For Color Shortcode */
/* Colors were chosen willy-nilly */
/* Feel free to change ;) */

.text-primary {
  color: purple;
}

.text-secondary {
  color: rgb(24, 24, 236)
}

.text-success {
  color: mediumseagreen;
}

.text-warning {
  color: rgb(192, 192, 26);
}

.text-danger {
  color: rgb(216, 14, 14);
}
/* CSS For Color Shortcode ends */


/* CSS For Badge Shortcode */
.badge {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.primary {

}

.secondary {

}

.gradient {
  background:  linear-gradient(45deg, blue, red);
  color: white;
}

.success {
  background-color: rgb(8, 240, 85);
  color: black;
}

.warning {
  background-color: rgb(248, 244, 4);
}

.danger {
  background-color: rgb(224, 96, 11);
  color: white;
}

